requests==2.32.3          # Для HTTP-запросов к Binance, Telegram и Apitter
beautifulsoup4==4.12.3    # Для парсинга HTML ответов Apitter
lxml==5.3.0               # Более быстрый HTML-парсер 
html5lib==1.1             # Резервный парсер HTML

# Работа с БД
sqlite3-binary==3.45.3    # SQLite 

# Форматирование и работа со временем
python-dateutil==2.9.0   